# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
ENV/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
.cache/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations cache (keep migrations, ignore pyc inside them)
*/migrations/__pycache__/

# Management cache
preorder/management/__pycache__/

